<div class="card">
  <div class="card-body">
    <h5 class="card-title">Drugs</h5>
    <div class="row">
      <div class="col-sm-12 w-100">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let drug of drugs;let idx = index">
            <span class="w-80">{{drug.name}} - {{drug.times}} - {{drug.doses}}</span>
            <button class="w-20" (click)="deleteDrug(idx)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </li>
          <li class="list-group-item">
            <div class="form">
              <div class="form-group mx-sm-3 mb-2">
                <label for="drugName">Name</label>
                <input id="drugName" type="text" class="form-control" [(ngModel)]="nameDrugs"
                       [ngbTypeahead]="filterDrugNames" [resultTemplate]="drugNameTemplate"
                       [inputFormatter]="formatter" [(ngModel)]="drugName" (selectItem)="drugNameChanged($event)"/>
                <ng-template #drugNameTemplate let-r="result" let-t="term">
                  <p>{{r}}</p>
                </ng-template>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label>Doses</label>
                <select class="form-control" [(ngModel)]="dosesDrugs">
                  <option *ngFor="let dosesName of drugDoses" [value]="dosesName">{{dosesName}}</option>
                </select>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="durationOfTherapy">Duration of therapy (days)</label>
                <input type="number" class="form-control" id="durationOfTherapy"
                       [(ngModel)]="durationOfTherapy">
              </div>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="addDrug()">
                Add Drug
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
