<div class="note"><b>This webapp is in development for hackatron. It's not yet operational.</b>   Select language.  -- User login</div>

<div class="header"></div>

<div class="options">
  <a title="new_case" routerLink="/submit-case">Submit new case</a>
  <a title="find_case" routerLink="/search-case">Search for cases</a>
  <a title="get_api" routerLink="/big-data">Big data access</a>

  <a class="dataconset" title="consent form"
     href="https://drive.google.com/file/d/1yTa1opgN9kViHca6xZhYNGQP_ZU8kIzy/view?usp=sharing">Consent form for data
    submission.</a>
</div>
<div class="footerinfo">
  <div>
   <h3>QUICK LINKS</h3>
     <a>What we do</a>
     <a>Methodology</a>
     <a>Data privacy</a>
     <a>Team</a>
  </div>
  <div>
   <h3>SOCIAL</h3>
   <a href="https://www.youtube.com/channel/UCVkKoUO-HKc9jlobp_D59LA">Youtube</a>
   <a>Twitter</a>
   <a>Facebook</a>
  </div>
  <div>
   <h3>CONTACT US</h3>
     <p>Open European Case study Observatory is registered ... under
     number ... .</p>
     <a>Address: </a>
     <a href="mailto:dpo@opencasestudy.eu">Email: dpo@opencasestudy.eu</a>
  </div>
</div>
