div.header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("src/assets/images/oeco_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 700px;
  height: 300px;
  max-width: 100%;
  margin-bottom: 50px;
  margin-top:100px;
}

div.options {
  padding-top:30px;
  background-color: #98ccc2;
  width: 100%;
 }

 div.footerinfo{
   background-color: #9c9faa;
   color: white;
   width: 100%;
   margin:0px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 30px;
   min-height: 400px;
 }
 div.footerinfo div{
   font-family: 'Source Sans Pro', sans-serif;
   min-height: 30px;
   width: 300px;
   padding:10px;
 }

 div.footerinfo div a{
   display: block;
   color: #faf4f4;
   list-style: none;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 14pt;
   margin-top: 15px;
   margin-left: 0px;
 }
 div.footerinfo div a:hover{
   cursor: pointer;
   text-decoration: underline;
   text-decoration-color: #98ccc2;
   text-decoration-thickness: 3px;
 }

 div.footerinfo div h3{
   margin-top:30px;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 17pt;
   font-weight: 600;
 }
  div.footerinfo div:nth-child(3) h3{
    background-image: url("src/assets/images/logo_bright.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    background-origin: border-box;
    display: block;
    height:90px;
    padding-bottom:80px;
    background-position: left 0px bottom 0px;
  }

div.note {
  padding-left: 150px;

}

div.options a {
  width:310px;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  padding: 25px;
  padding-left: 85px;
  font-size: 20pt;
  border-radius: 60px;
  margin: 30px;
  margin-bottom: 40px;
  text-decoration: none;
  color:black;
  min-height: 65px;
  min-width: 300px;
  background-color: #faf4f4;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 6px 6px 4px 0px rgba(156,159,170,1);
  -moz-box-shadow: 6px 6px 4px 0px rgba(156,159,170,1);
  box-shadow: 6px 6px 4px 0px rgba(156,159,170,1);
  font-weight: 600;
}

div.options a:nth-child(1) {
  background-image: url(src/assets/images/upload_case.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: left 30px bottom 10px;
  background-origin: border-box;
  display: block;
}

div.options a:nth-child(2) {
  background-image: url(src/assets/images/search_case.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: left 30px bottom 8px;
  background-origin: border-box;
  display: block;
}

div.options a:nth-child(3) {
  background-image: url(src/assets/images/api_access.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left 30px bottom 15px;
  background-origin: border-box;
  display: block;
}

div.options a:nth-child(4) {
  margin-top: 30px;
  padding:0px;
  font-size:12pt;
  color:#7f8c8d;
  display: block;
  width:300px;
  height:auto;
  margin-bottom: 0px;
  padding-left:40px;
  background-color: inherit;
  border:0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow:none;
}
div.options a:nth-child(1):hover, div.options a:nth-child(2):hover, div.options a:nth-child(3):hover{
  -webkit-box-shadow: 6px 6px 4px 0px cornflowerblue;
  -moz-box-shadow: 6px 6px 4px 0px cornflowerblue;
  box-shadow: 6px 6px 4px 0px cornflowerblue;
}
div.options a:nth-child(4):hover {
color:cornflowerblue;
}
