<div class="modal-header">
  <h4 class="modal-title">Add Details On Progression</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss({type:'closeX'})">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-sm-12">
        <label>Date</label>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="dd-mm-yyyy"
                   name="dp" ngbDatepicker #progressionDate="ngbDatepicker" formControlName="progressionDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="progressionDate.toggle()" type="button">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Therapy</h5>
            <div class="row">
              <div class="col-sm-12 w-100">
                <label>Drugs</label>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let drug of drugs;let idx = index">
                    <span class="w-80">{{drug.name}} - {{drug.times}} - {{drug.doses}}</span>
                    <button class="w-20" (click)="deleteDrug(idx)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </li>
                  <li class="list-group-item">
                    <div class="form-inline">
                      <div class="form-group mb-2">
                        <label for="nameDrugs">Name</label>
                        <input type="text" class="form-control" id="nameDrugs" formControlName="nameDrugs">
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="timeDrugs">Times</label>
                        <input type="number" class="form-control" id="timeDrugs" formControlName="timeDrugs">
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="dosesDrugs">Doses</label>
                        <input type="number" class="form-control" id="dosesDrugs" formControlName="dosesDrugs">
                      </div>
                      <button type="button" class="btn btn-outline-primary btn-sm" (click)="addDrug()">
                        Add Drug
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="conditions">Conditions (separated by comma)</label>
          <input type="text" class="form-control" id="conditions" formControlName="conditions">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="conditions">Symptoms</label>
          <ng-multiselect-dropdown
            [placeholder]="'symptoms'"
            [data]="symptomsList"
            [(ngModel)]="selectedSymptoms"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            [ngModelOptions]="{standalone: true}">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Blood</h5>
            <div class="row">
              <div class="col-sm-12 w-100">
                <label>Blood</label>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let blood of bloodData;let idx = index">
                    <span class="w-80">{{blood.glucose}} - {{blood.pressureSystolic}}
                      - {{blood.pressureDiastolic}}</span>
                    <button class="w-20" (click)="deleteBloodData(idx)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </li>
                  <li class="list-group-item">
                    <div class="form-inline">
                      <div class="form-group mb-2">
                        <label for="glucose">Glucose</label>
                        <input type="text" class="form-control" id="glucose" formControlName="glucose">
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="pressureSystolic">Pessure Systolic</label>
                        <input type="text" class="form-control" id="pressureSystolic"
                               formControlName="pressureSystolic">
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="pressureDiastolic">Pessure Diastolic</label>
                        <input type="text" class="form-control" id="pressureDiastolic"
                               formControlName="pressureDiastolic">
                      </div>
                      <button type="button" class="btn btn-outline-primary btn-sm" (click)="addBloodData()">
                        Add Drug
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Radiology</h5>
            <div class="row">
              <div class="col-sm-12 w-100">
                <label>Radiology</label>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="radCT">CT (separated by comma)</label>
                      <input type="text" class="form-control" id="radCT" formControlName="radCT">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="radMRI">MRI (separated by comma)</label>
                      <input type="text" class="form-control" id="radMRI" formControlName="radMRI">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="radCXR">CXR (separated by comma)</label>
                      <input type="text" class="form-control" id="radCXR" formControlName="radCXR">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close({type:'close'})">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>
