<form class="pt-5" [formGroup]="formGroup">
  <div class="form-group row">
    <label for="age" class="col-2 col-form-label">Age</label>
    <div class="col-10">
      <input type="number" class="form-control" id="age" formControlName="age">
    </div>
  </div>
  <div class="form-group row">
    <label class="existingconditions" for="existingConditions" >Existing conditions</label>

          <table class="table table-sm">
            <thead>
            <tr>
              <th scope="col">ICD10 code</th>
              <th scope="col">Name</th>
              <th scope="col">Still Active</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of existingConditionsList;let idx = index">
              <td>{{element.icCode}}</td>
              <td>{{element.name}}</td>
              <td>
                <select class="form-control" (change)="stillActiveClicked(element,$event)">
                  <option value="0">yes</option>
                  <option value="1">No</option>
                  <option value="2">Unknown</option>
                </select>
              </td>
              <td>
                <button class="w-20" (click)="deleteConditionsClicked(idx)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
    <div class="col-10">
      <input id="existingConditions" type="text" class="form-control" formControlName="icd10ConditionsCtrl"
             [ngbTypeahead]="filteredicd10Conditions" [resultTemplate]="ic10Template"
             [inputFormatter]="formatter" [(ngModel)]="existingConditionsModel"/>
             <button class="addbutt" type="button" class="btn btn-primary btn-sm" (click)="existingConditionsClicked()">
               Add
             </button>
      <ng-template #ic10Template let-r="result" let-t="term">
        <p>{{r.icCode}} - {{r.name}}</p>
      </ng-template>



    </div>
  </div>
  <div class="form-group row">
    <div class="mainbtt">
      <button type="submit" class="casesearch" (click)="search()">Search for cases</button>
    </div>
  </div>
</form>
