/* You can add global styles to this file, and also import other style files */
body {
  background-color: #faf4f4;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
}

label{
    font-size: 13pt;
    color: white;
    font-weight: 600;

}
label.sidelabel{
  display: inline-block;
  width: 120px;
  text-align: left;
}
label.sidelabeldate{
  display: inline-block;
  width: 250px;
  max-width: 50%;
  text-align: left;
  padding-top: 8px;
}


div.row{
  margin-top: 10px;
}

div.inputform{
  background-color:#9c9faa;
}

#patientCode{
  max-width: 100%;
  width:400px;
  display: inline-block;
}
/*div.form-group{
  border:1px solid red;
}*/
div.col-sm-2{
  font-size: 13pt;
}
#yearOfBirth, #typeahead-basic{
  max-width: 100%;
  width:200px;
  display: inline-block;
  margin-right: 50px;
}
h2{
  padding-top: 50px;
  border-bottom: 3px solid rgb(220,220,220);
  color:white;
  font-size: 18pt;
  font-weight: 600;
}
label.testlabel{
  display: inline-block;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 9px;
}
label.labelconditions{
  font-weight: bold;
}
textarea.freetext{
  font-size: 15pt;
  padding:8px;
  border-radius: 8px;
  border:1px solid rgb(200,200,200);
  width: 100%;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
}
div.main-btn{
  align-content: center;
}
button.btn-primary{
  min-width: 240px;
  font-weight: bold;
  font-size: 13pt;
  margin: 5px;
}
button.w-20{
  display: inline-block;
  width:60px;
  height:40px;
  margin-left:30px;
  border-radius: 5px;
  align-content: center;
  border:2px solid cornflowerblue;
}
h3.progressiontitle{
  font-size: 18pt;
  font-weight: 600;
}
h5.card-title{
  font-size: 14pt;
  font-weight: bold;
}
div.container{
  width: 100%;
  max-width: none;
  padding:0px;
}
.applicationwindow{
  width:100%;
  display:block;
}
div.col-sm-12{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color:white;
  font-weight: 600;
}

input[type="text"],input[type="number"]{
  border-radius: 30px;
}
input.form-control{
  border-radius: 30px;
}
div.logoleft{
  display:block;
  position:absolute;
  top:20px;
  left:30px;
  float:left;
  width:120px;
  background-image: url("src/assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-origin: border-box;
  height:40px;
  background-size: 120px;
}
div.logoleft:hover{
  cursor: pointer;
}
label.textboxlabel{
  margin-top: 20px;
}
h1.submissionheader{
  font-family: 'Source Sans Pro', sans-serif;
  color:black;
  font-weight: 600;
  padding-top:10px;
  font-size: 18pt;
}
