.align-items-center{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
}
h2.pb-5{
  color:black;
   display: block;
  padding-left: 100px;
  minheight: 40px;
  font-size: 18pt;
  font-weight: 600;
  background-image: url(src/assets/images/api_access.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left 30px top 10px;
  background-origin: border-box;

}
