<div class="row">
  <div class="logoleft"></div>
  <div class="col-sm-12">
    <h1 class="mb-3 submissionheader">Big data web API</h1>
  </div>
</div>
<div class="container pt-5 align-items-center">
  <div class="row">
    <table class="table table-bordered table-responsive">
      <thead>
      <tr>
        <th scope="col">API</th>
        <th scope="col">Name</th>
        <th scope="col">Return Type</th>
        <th scope="col">Method</th>
        <th scope="col">Exaple</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let api of links">
        <td>{{api.url}}</td>
        <td>{{api.name}}</td>
        <td>{{api.returnType}}</td>
        <td>{{api.method}}</td>
        <td><a [href]="api.example">Example Request/Response</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
